<!DOCTYPE html>
<html>
    <head lang="en">
        <title><%= (global.config.dev ? "DEV | " : "") %>Custom Start Page</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= metaDescription %>">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link href="<%- config.fullDomain %>/css/dependencies/bootstrap.min.css" rel="stylesheet">
        <link href="<%- config.fullDomain %>/css/main.css" rel="stylesheet">
        <% if (typeof noindex !== 'undefined' && noindex === true) { %>
            <meta name="robots" content="noindex">
        <% } %>
    </head>
    <body>
        <% if (typeof hideFooter === 'undefined' || hideFooter === false) { %>
            <% include ./partials/header %>
        <% } %>
        <% if (typeof noCruft === 'undefined' || noCruft === false) { %>
            <main>
                <%- body %>
            </main>
        <% } else { %>
            <%- body %>
        <% } %>
        <% if (typeof hideFooter === 'undefined' || hideFooter === false) { %>
            <footer class="main-footer">
                <div class="container">
                    <div class="row">
                        "designed" and built by <a href="https://linktr.ee/harvzor" target="_blank">@harvzor</a>
                    </div>
                </div>
            </footer>
        <% } %>
        <% include ./partials/analytics.ejs%>
    </body>
</html>
