<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <header class="page-header">
                <h1>Edit</h1>
            </header>
            <div id="form"></div>
            <footer class="page-header"></footer>
        </div>
    </div>
</div>

<script>
    const SCHEMA = <%- schema %>;
    const THEME_NAME = '<%- themeName %>';
</script>
<% include ./partials/scripts %>
<script src="<%- config.fullDomain %>/js/dependencies/react-jsonschema-form.js"></script>
<script src="<%- config.fullDomain %>/js/storage.min.js"></script>
<script src="<%- config.fullDomain %>/js/edit.min.js"></script>
