<div class="container">
    <div class="page-header">
        <h1 class="text-center">Themr</h1>
    </div>
    <p class="text-center">pick a theme</p>
    <div class="row">
        <% for (let theme of themes) { %>
            <div class="col-sm-4">
                <a href="http://<%= theme.slug %>.<%- config.domain %>:<%- config.port %>/preview">
                    <h2><%= theme.name %></h2>
                    <img width="100%" src="http://<%= theme.slug %>.<%- config.domain %>:<%- config.port %>/manifest/preview.png" />
                    <a href="<%= theme.author.link %>" target="_blank">Original artist: <%= theme.author.name %></a>
                </a>
            </div>
        <% } %>
    </div>
</div>
