<section class="container">
    <p class="text-center">pick a start page and start customising</p>
    <div class="row">
        <% for (let theme of themes) { %>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <a href="http://<%= theme.slug %>.<%- config.domain %>:<%- config.port %>/preview">
                        <div class="panel-heading">
                            <h2 class="panel-title"><%= theme.name %></h2>
                        </div>
                        <div class="panel-image-container">
                            <img width="100%" src="http://<%= theme.slug %>.<%- config.domain %>:<%- config.port %>/manifest/<%= theme.preview %>" />
                            <ul class="pills">
                                <% theme.features.forEach(feature => { %>
                                    <li><%= feature %></li>
                                <% }) %>
                            </ul>
                        </div>
                    </a>
                    <div class="panel-footer">
                        by <a href="<%= theme.author.link %>" target="_blank"><%= theme.author.name %></a>
                    </div>
                </div>
                </a>
            </div>
        <% } %>
    </div>
</section>
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-push-3">
                <h2>What is a start page?</h2>
                <p>It's the first page when you open your browser. It might just be the homepage your browser has as default. Though if you want something a little more unique, you can use one of the ones provided here.</p>
            </div>
        </div>
        <% /*
        <div class="row text-center">
            <div class="col-sm-6 col-sm-push-3">
                <h2>How do I use a start page?</h2>
                <p>First, pick a start page.</p>
                <p>Second, edit the links and other features.</p>
                <p>Last, set it as your start page.</p>
            </div>
        </div>
        */ %>
    </div>
</section>
